.poster {
  width: 400px;
  height: 600px;
  margin-right: 30px;
}

.movieContainer {
  display: flex;
}

.genresList {
  display: flex;
  justify-content: flex-start;
}

.genreItem:not(:last-child) {
  margin-right: 10px;
}

.castLink {
  margin-right: 15px;
}

.goBackBtn {
  margin-bottom: 10px;
  background-color: #2196f3;
  color: white;
  border: transparent;
  border-radius: 4px;
}
